@import "utils/libs";
@import "utils/bootstrap";
@import "utils/reset";
@import "utils/vars";
@import "utils/fonts";

html {
	font-size: $base-font-size;
	margin-right: 0 !important;
	height: 100%;
}


body {
	height: 100%;
	// color: ;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 150%;
	letter-spacing: 0em;
	font-family: 'Montserrat-custom', Roboto, 'Open Sans', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Cantarell, 'Helvetica Neue';
	overflow-x: hidden;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.content {flex: 1 0 auto}

// Модули
@import "pages/pages";
@import "modules/modules";